.navigation-container {
  background-color: var(--background-color);
  margin: 1rem;
}
.nav-brand .title-theme {
  color: black;
}
.title-theme-name {
  color: #f9c543;
}
.nav-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-icon {
  margin-right: 4rem;
  color: black;
  color: var(--yellow-color);
}
.user-icon {
  margin-right: 5rem;
  color: black;
  color: var(--yellow-color);
}
.theme-icon:hover,
.user-icon:hover {
  color: var(--yellow-color);
  /* fill: var(--yellow-color); */
  color: grey;
  cursor: pointer;
}
