@import url("https://falcon-ui-zoya.netlify.app/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-color: #f72585;
  --secondary-color: #ff4d6d;
  /* --background-color: #caf0f8; */
  /* --text-color: #f8f9fa; */
  --background-color: 
  --text-color: #000000;
  --yellow-color: #f9c543;
  --yellow-secondary-color: #f1b104;
  --blue-color: #a1cbe2;
  --bg-color-1: #fae9c9;
  --explore-background: #343a40;
  --light-theme-color: #000000;
  --navigation-container-shadow: #6c757d;
  --navigation-color: #212529;
  --desktop-searchbar-bg: #e9ecef;
  --desktop-searchbar-border: #f7f7f7;
  --card-shadow: #adb5bd;
  --form-bg-color: #ffffff;
  --form-input-border-color: #ced4da;
  --login-signup-page: #f3ebeb;
  --login-btn-border: #fb6376;
  --login-btn-bg-color-hover: #e63961;
  --footer-bg-color: #023047;
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.flex-prop {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* theme starts*/
.light-theme {
  /* --bg: var(--background-color);
  --bg: #ffffff; */
  /* --text: var(--light-theme-color); */
  --nav-brand: var(--primary-color);

  /* --bg: pink; */
  --bg: white
  --text: black;

  background-color: var(--bg);
  color: var(--text);
}
.dark-theme {
  /* --bg: var(--navigation-color);
  --text: var(--background-color); */
  --nav-brand: var(--primary-color);

  --bg: black;
  --bg: #192734;
  --bg: #2a2b2e;
  --text: white;
  
  background-color: var(--bg);
  color: var(--text);
}
/* theme ends */
